<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <a href="/" class="footer-logo">
        <svg class="icon-Company-Logo" width="217" height="93">
          <use href="/img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <ul class="media-list">
        <li>
          <a
            href="https://www.facebook.com/"
            class="media-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="media-item" width="32" height="32">
              <use href="/img/sprite.svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            class="media-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="media-item" width="32" height="32">
              <use href="/img/sprite.svg#icon-instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com/"
            class="media-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="media-item" width="32" height="32">
              <use href="/img/sprite.svg#icon-X-Icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            class="media-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="media-item" width="32" height="32">
              <use href="/img/sprite.svg#icon-linkedin-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            class="media-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="media-item" width="32" height="32">
              <use href="/img/sprite.svg#icon-youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-nav">
      <nav class="footer-nav-list">
        <ul class="nav-list">
          <li><a href="#about-us" class="nav-link current">About us</a></li>
          <li><a href="#benefits" class="nav-link">Benefits</a></li>
          <li><a href="#gallery" class="nav-link">Gallery</a></li>
          <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
          <li><a href="#contacts" class="nav-link">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <p class="footer-copyright">
      © 2025 Handmade Jewelry. All rights reserved.
    </p>
  </div>
</footer>
