<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Sora:wght@400&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="./css/gallery.css" />

  <title>Handmade Jewelry</title>
</head>

<section class="gallery">
  <div class="container-gallery-wrapper">
    <div class="gallery-section-title">
      <h2 class="gallery-title">Jewelry Showcase</h2>

      <p class="gallery-description">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-column">
        <ul class="gallery-column-list">
          <li class="gallery-item">
            <picture>
              <source media="(min-width: 1440px)" srcset="
                              ./img/webp/gallery/desktop/bracelet.webp 1x,
                              ./img/webp/gallery/desktop/bracelet.webp 2x
                            " />

              <source media="(min-width: 768px)" srcset="
                              ./img/webp/gallery/tablet/bracelet.webp    1x,
                              ./img/webp/gallery/tablet/bracelet.webp 2x
                            " />

              <img src="./img/webp/gallery/mobile/bracelet.webp" srcset="
                              ./img/webp/gallery/mobile/bracelet.webp    1x,
                              ./img/webp/gallery/mobile/bracelet.webp 2x
                            " width="320" alt="Bracelet" />
            </picture>
          </li>

          <li class="gallery-item">
            <picture>
              <source media="(min-width: 1440px)" srcset="
                              ./img/webp/gallery/desktop/earrings.webp 1x,
                              ./img/webp/gallery/desktop/earrings.webp 2x
                            " />

              <source media="(min-width: 768px)" srcset="
                              ./img/webp/gallery/tablet/earrings.webp    1x,
                              ./img/webp/gallery/tablet/earrings.webp 2x
                            " />

              <img src="./img/webp/gallery/mobile/earrings.webp" srcset="
                              ./img/webp/gallery/mobile/earrings.webp    1x,
                              ./img/webp/gallery/mobile/earrings.webp 2x
                            " width="320" alt="earrings" />
            </picture>
          </li>
        </ul>
      </li>

      <li class="gallery-column">
        <ul class="gallery-column-list">
          <li class="gallery-item">
            <picture>
              <source media="(min-width: 1440px)" srcset="
                                        ./img/webp/gallery/desktop/beads.webp 1x,
                                        ./img/webp/gallery/desktop/beads.webp 2x
                                      " />

              <source media="(min-width: 768px)" srcset="
                                        ./img/webp/gallery/tablet/beads.webp    1x,
                                        ./img/webp/gallery/tablet/beads.webp 2x
                                      " />

              <img src="./img/webp/gallery/mobile/beads.webp" srcset="
                                        ./img/webp/gallery/mobile/beads.webp    1x,
                                        ./img/webp/gallery/mobile/beads.webp 2x
                                      " width="320" alt="Beads" />
            </picture>
          </li>

          <li class="gallery-item">
            <picture>
              <source media="(min-width: 1440px)" srcset="
                                          ./img/webp/gallery/desktop/pendant.webp 1x,
                                          ./img/webp/gallery/desktop/pendant.webp 2x
                                        " />

              <source media="(min-width: 768px)" srcset="
                                          ./img/webp/gallery/tablet/pendant.webp    1x,
                                          ./img/webp/gallery/tablet/pendant.webp 2x
                                        " />

              <img src="./img/webp/gallery/mobile/pendant.webp" srcset="
                                          ./img/webp/gallery/mobile/pendant.webp    1x,
                                          ./img/webp/gallery/mobile/pendant.webp 2x
                                        " width="320" alt="pendant" />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>