<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Sora:wght@400&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="./css/gallery.css" />

  <title>Handmade Jewelry</title>
</head>

<section class="gallery">
  <div class="container-gallery-wrapper">
    <div class="gallery-section-title">
      <h2 class="gallery-title">Jewelry Showcase</h2>

      <p class="gallery-description">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-column">
        <ul class="gallery-column-list">
          <li class="gallery-item">
            <img src="./img/gallery/bracelet.jpg" alt="Bracelet" />
          </li>

          <li class="gallery-item">
            <img src="./img/gallery/pendant.jpg" alt="Pendant" />
          </li>
        </ul>
      </li>

      <li class="gallery-column">
        <ul class="gallery-column-list">
          <li class="gallery-item">
            <img src="./img/gallery/beads.jpg" alt="Beads" />
          </li>

          <li class="gallery-item">
            <img src="./img/gallery/earrings.jpg" alt="Earrings" />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
