<section class="gallery" id="gallery">
  <div class="container-gallery-wrapper">
    <div class="gallery-section-title">
      <h2 class="gallery-title">Jewelry Showcase</h2>

      <p class="gallery-description">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
     
          <li class="gallery-item-first gallery-item-big">
            <img class="gal-img" src="../img/webp/gallery/desktop/bracelet.webp" alt="Bracelet" />
          </li>
          <li class=" gallery-item-second gallery-item">
            <img class="gal-img" src="../img/webp/gallery/desktop/beads.webp" alt="Pendant" />
          </li>
          <li class="gallery-item-third gallery-item">
            <img class= "gal-img" src="../img/webp/gallery/desktop/earrings.webp" alt="Beads" />
          </li>
          <li class="gallery-item-forth gallery-item-big">
            <img class= "gal-img" src="../img/webp/gallery/desktop/pendant.webp" alt="Earrings" />
    </ul>
  </div>
</section>
