<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-header">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="feedback-photo">
          <img
            class="review-img"
            src="./img/img-testimonials/img-test1.jpg"
            srcset="
              ./img/img-testimonials/img-test1.jpg    1x,
              ./img/img-testimonials/img-test1@2x.jpg 2x
            "
            width="335"
            height="260"
            alt="An earring in a young woman's ear"
          />
          <img
            class="review-img"
            src="./img/img-testimonials/img-test2.jpg"
            srcset="
              ./img/img-testimonials/img-test2.jpg    1x,
              ./img/img-testimonials/img-test2@2x.jpg 2x
            "
            width="335"
            height="260"
            alt="A pendant on a man's neck"
          />
        </div>
        <div class="feedback-description">
          <div class="mark">
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24" class="white-star">
              <use href="./img/img-testimonials/test-svg.svg#star-empty" />
            </svg>
          </div>
          <p class="mark-comment">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="comment-name">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="feedback-description">
          <div class="mark">
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-full" />
            </svg>
            <svg width="24" height="24">
              <use href="./img/img-testimonials/test-svg.svg#star-empty" />
            </svg>
          </div>
          <p class="mark-comment">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="comment-name">Jane Edison</p>
        </div>
        <div class="feedback-photo">
          <img
            class="review-img-two"
            src="./img/img-testimonials/img-test3.jpg"
            srcset="
              ./img/img-testimonials/img-test3.jpg    1x,
              ./img/img-testimonials/img-test3@2x.jpg 2x
            "
            width="335"
            height="260"
            alt="A cap of coffee in hands"
          />

          <img
            class="review-img-two"
            src="./img/img-testimonials/img-test4.jpg"
            srcset="
              ./img/img-testimonials/img-test4.jpg    1x,
              ./img/img-testimonials/img-test4@2x.jpg 2x
            "
            width="335"
            height="260"
            alt="A silver ring in hands"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
