.about {
  padding-top: 56px;
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.about_container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .about_container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .about_container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about_wrapper {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.about_img-wrapper {
  max-width: 375px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about_img-wrapper {
    max-width: 704px;
    width: 100%;
    height: 456px;
  }
}

@media only screen and (min-width: 1440px) {
  .about_img-wrapper {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .about_img-wrapper,
  .about-content {
    flex: 1;
    max-width: 640px;
  }
}

.about_img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .about_img {
    width: 100%;
    height: 100%;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin: auto 0;
}

.about-title {
  color: #000;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.36px;
  font-weight: 400;
  align-self: stretch;
}

@media only screen and (min-width: 1440px) {
  .about-title {
    font-size: 48px;
    letter-spacing: -0.48px;
  }
}
.about-text {
  color: #000;
  font-family: 'Mulish';
  font-size: 18px;
  line-height: 1.5;
  align-self: stretch;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 24px;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
}

.about-item::before {
  content: '';
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-item.list::before {
  background-image: url('../img/list.svg');
}

.about-item.hand::before {
  background-image: url('../img/hand.svg');
}

.about-item.book::before {
  background-image: url('../img/book.svg');
}
