.footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 80px 20px;
  background-color: #ffffff;
}
.media-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 64px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;

  /* line-height: 27px; */
  line-height: 1.5;
  color: #000000;
}
.footer-copyright {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: #000000;
  text-align: center;
  margin-top: 56px;
  padding-bottom: 80px;
}
.media-item {
  fill: #000000;
  flex-shrink: 0;
}
.icon-Company-Logo {
  fill: #000000;
  flex-shrink: 0;
  margin-bottom: 32px;
}
