
.gallery {
    width: 100%;
    padding: 64px 20px;
}

.container-gallery-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallery-section-title {
    width: 100%;
    text-align: center;
}

.gallery-title {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.36px;
    text-align: center;
}

.gallery-description {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.16px;
    text-align: center;
}

.gallery-list {
    column-count: 1;
    column-gap: 0;
    width: 335px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.gallery-item {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 16px;
}

.gallery-item:last-child {
    margin-bottom: 0;
}

.gallery-item picture {
    display: block;
    width: 100%;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
}


@media screen and (min-width: 768px) {
    .container-gallery-wrapper {
        margin: 0 auto;
        justify-content: center;
        gap: 0;
    }

    .gallery-list {
        width: fit-content;
        column-count: 2;
        column-width: 340px;
        padding: 80px 0 64px 0;
        gap: 24px;
    }

    .gallery-item {
        margin-bottom: 24px;
    }

    .gallery-item:nth-child(3) {
        break-before: column;
    }
}

@media screen and (min-width: 1440px) {
    .container-gallery-wrapper {
        max-width: 1440px;
    }

    .gallery-list {
        width: fit-content;
        column-width: 640px;
        gap: 32px;
    }

    .gallery-item {
        margin-bottom: 32px;
    }
}